<body>
    <br />
    <div class="container">
      <div id='top'>
        <%= render 'form' %>
      </div>
      <br />
      <div id="todo-list">
        <h1>Listing todo_items</h1>
        <table id="first-table">
          <tr>
            <th>Title</th>
            <th>Completed</th>
            <th>Deleted</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @todo_items.each do |todo_item| %>
          <tr>
            <td><%= todo_item.title %></td>
            <td><%= todo_item.completed %></td>
            <td><%= todo_item.deleted %></td>
            <td><%= link_to 'Show', todo_item %></td>
            <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
            <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>

      </div>
      <div id="completed-list">
        <table id="second-table">
          <h4>Completed List</h4>
        </table>
      </div>
    </div>
  </body>
  <%= link_to 'Back', todo_items_path %>